/* --------------------------ACCESS*/

.access {
    width: 1040px;
    margin: 0 auto;
    padding: 100px 0 145px;
}

.access_box {
    margin-top: 40px;
}

.map {
    width: 680px;
    float: left;
}

.access_address {
    width: 340px;
    padding-left: 20px;
    box-sizing: border-box;
    float: right;
}

.map iframe {
    width: 100%;
    height: 425px;
    border: none;
}

.access_address h3 {
    margin-bottom: 50px;
    padding: 17px 0 18px;
    font-size: 30px;
    font-weight: bold;
    border-bottom: solid 3px #74859f;

}

.access_address_box {
    background-color: #eee;
}

.access_map,
.sup {
    font-size: 17px;
    line-height: 1.5;
    padding: 15px;

}

/* footer */

.footer-inner {
    background-color: black;
}

.footer-info {
    text-align: center;
    margin-top: 50px;
}

.footer-info h4 {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}

.footer-wrapper {
    margin-top: 20px;
    color: white;
    font-weight: 200;
    font-family: 'Kaushan Script', cursive;
}

.footer-wrapper span {
    color: #C59D5F;
}


.footer-info-icom ul {
    padding-right: 30px;
    margin-top: 30px;
}

.footer-info-icom li {
    display: inline-block;
    width: 10%;

}

.fab {
    color: #C59D5F;
}

.footer-social {
    text-align: center;
    margin-top: 40px;
}

.footer-social h3 {

    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 34px;
}

.footer-social ul {
    font-weight: inherit;
    margin-right: 20px;
    color: white;

}

.footer-social li {
    display: inline-block;

    margin-top: 20px;
    margin-right: 10px;
}

.footer-info2 {
    text-align: center;
    margin-top: 50px;
}

.footer-info2 h4 {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}

form {
    margin-top: 40px;



}

input {
    position: relative;
    width: 70%;

}

.placeholder {
    font-weight: 100;
    color: black;
}


.far {
    position: absolute;
    top: 4457px;
    right: 430px;
    color: #C59D5F;
}

.last-icon {
    color: white;
    font-size: 5px;
}

.footer-contact li {
    display: inline-block;

}


.footer-contact a {
    color: #919191;
    font-size: 16px;
}