@media screen and (min-width: 767px) {}


body {
    background-color: #f8f9fa;
}


/*-----------------------------navber */
.navbar-brand {
    background: url(/img/dorlogo.png) no-repeat left center;
    background-size: contain;
    width: 150px;
    height: 100px;
    font-size: 1.5rem;
}


/*------------------------写真*/
.photo_men {
    background-image: url(../img/chefback2.png);
    background-repeat: no-repeat;
    /* 画像の繰り返しを指定  */
    background-position: center center;
    /* 画像の表示位置を指定  */
    background-size: cover;
    height: 450px;
}

/*-------------------------コンタクトインフォ  */
.contact_info {
    text-align: left;
    color: rgba(0, 0, 0, .55);

}

.contact_info h2 {
    font-size: 25px;
}

.contact_info p {
    margin-top: 18px;
    width: 70%;
}

/*-------------------------------住所 */
.items {
    color: rgba(0, 0, 0, .55);
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.items::after {
    content: "";
    display: block;
    width: 30%;
    height: 0;
}

.items p {
    width: 400px;
    margin: auto 0;
}


/* -------------------------------------------------メール*/
.form_contact {
    color: rgba(0, 0, 0, .55);

}

.contact_area p {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 50px;
}

.contact_message {
    background: #c10811;
    color: #fafafa;
    font-size: 12px;
    padding: 0 10px;
    font-weight: normal;
    margin-left: 10px;
}

/*-------------------------------------コンタクト  */

/* footer */

.footer-inner {
    background-color: black;
}

.footer-info {
    text-align: center;
    margin-top: 50px;
}

.footer-info h4 {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}

.footer-wrapper {
    margin-top: 20px;
    color: white;
    font-weight: 200;
    font-family: 'Kaushan Script', cursive;
}

.footer-wrapper span {
    color: #C59D5F;
}


.footer-info-icom ul {
    padding-right: 30px;
    margin-top: 30px;
}

.footer-info-icom li {
    display: inline-block;
    width: 10%;

}

.fab {
    color: #C59D5F;
}

.footer-social {
    text-align: center;
    margin-top: 40px;
}

.footer-social h3 {

    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 34px;
}

.footer-social ul {
    font-weight: inherit;
    margin-right: 20px;
    color: white;

}

.footer-social li {
    display: inline-block;

    margin-top: 20px;
    margin-right: 10px;
}

.footer-info2 {
    text-align: center;
    margin-top: 50px;
}

.footer-info2 h4 {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}

form {
    margin-top: 40px;



}

input {
    position: relative;
    width: 70%;

}

.placeholder {
    font-weight: 100;
    color: black;
}


.far {
    position: absolute;
    top: 4457px;
    right: 430px;
    color: #C59D5F;
}

.last-icon {
    color: white;
    font-size: 5px;
}

.footer-contact li {
    display: inline-block;

}


.footer-contact a {
    color: #919191;
    font-size: 16px;
}