html,
body {
    overflow-x: hidden;
}

/* ---navver------*/
.navbar-brand {
    background: url(/img/dorlogo.png) no-repeat left center;
    background-size: contain;
    width: 150px;
    height: 100px;
    font-size: 1.5rem;
}

/* -----------写真------*/

.gallery_title {
    font-weight: bolder;
    letter-spacing: inherit;
}

.gallery_title h2 {
    font-family: 'Gowun Batang', serif;
    color: white;
}

.wrap-gallery {
    display: flex;
    margin-left: 40px;

}

.wrap-gallery img {
    width: 200px;
    height: 190px;
    border-radius: 10px;
    transition: all 0.5s;

}

.wrap-gallery img:hover {
    transform: scale(1.2, 1.2);
}

.item_gallery {
    text-align: center;
    margin-left: 50px;
    margin-right: 40px;
}