html,
body {
    overflow-x: hidden;
    background-color: black;
}



/* ---naver------*/
.navbar-brand {
    background: url(/img/dorlogo.png) no-repeat left center;
    background-size: contain;
    width: 150px;
    height: 100px;
    font-size: 1.5rem;
}

.fixed-bg {
    min-height: auto;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.bg01 {
    background-image: url(/img/mr.sakane.png);
}

/* -----------写真------*/

.gallery_title {
    font-weight: bolder;
    letter-spacing: inherit;
}

.gallery_title h2 {
    font-family: 'Gowun Batang', serif;
    color: white;
    margin-top: 20px;
}

.wrap-gallery {
    overflow: hidden;
}

.wrap-gallery img {

    transition: all 0.5s;

}

.wrap-gallery img:hover {
    transform: scale(1.2, 1.2);
}